<h1>
  List of Users
</h1>
<div class='clear'>
  <div class="user-card">
    <input type="checkbox" class="select-user" id="user-selection" />
    <div class="card" for="user-selection">
      <div class="front user-block">
        <div class='user-details'>
          <label class="name"> Name</label>
          <label class="value"> user-1</label>
        </div>
        <div class='user-details'>
          <label class="name"> Description</label>
          <label class="value"> Description for user -1</label>
        </div>
        <div class='user-details'>
          <label class="name"> Age</label>
          <label class="value"> 25</label>
        </div>
        <div class='user-details'>
          <label class="name"> Place</label>
          <label class="value"> Bangalore</label>
        </div>
      </div>
      <div class="back">
        <div class="back-content">
          User-1 has been selected.
        </div>
      </div>
    </div>
  </div>

</div>